@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$white-color: #fff;
$black-color: #000;

$text-color: #8D8C8B;
$text-black-color: #1C1917;
$btn-color: #FF8541;
$btn-text-color: #555351;
$news-card-color: #F9F8F6;
$input-color: #C6C5C5;